/* General styling */
body {
    background-color: rgb(113, 167, 111);
    margin: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: auto;
}

/* Header */
h1 {
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
}

/* Leaderboard table */
table {
    width: 90%;
    margin: 10px;
    border-collapse: separate;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgb(113, 167, 111);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#user-fortunes {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-item {
    background-color: #f7b45e;
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    width: 80%;
    text-align: left;
    font-size: 1.2em;
}

.user-item strong {
    color: #000;
}


/* Back button styling */
a.back-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #d2a060;
    color: #000;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

a.back-button:hover {
    background-color: #c09050;
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
