body {
    background-color: rgb(113, 167, 111);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: auto;
}

h1 {
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

#user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    color: #0b0b0b;
    font-size: 1.2em;
    font-weight: bold;
}

input[type="text"],input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #030303;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
}

button#loginButton {
    background-color: #d2a060;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

button#loginButton:hover {
    background-color: #c09050;
    transform: scale(1.05);
}

a.back-button {
    margin-top: 20px;
    background-color: #d2a060;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

a.back-button:hover{
    background-color: #c09050;
    transform: scale(1.05);
}